<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Brokskeeping"
        tools:targetApi="31">
        <activity
            android:name=".HiveActivities.HiveActivity"
            android:exported="false" />
        <activity
            android:name=".InspectionDataActivities.HiveInspectionDataBrowser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Brokskeeping">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HoneyHarvestActivities.HoneyHarvestBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".InspectionDataActivities.InspectionDataActivity"
            android:exported="false" />
        <activity
            android:name=".InspectionActivities.InspectionActivity"
            android:exported="false" />
        <activity
            android:name=".InspectionActivities.InspectionsBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".InspectionDataActivities.InspectionDataBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".BarcodeScan"
            android:exported="false" />
        <activity
            android:name=".ToDoActivities.AdjustToDoActivity"
            android:exported="false" />
        <activity
            android:name=".ToDoActivities.ToDoBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".ToDoActivities.ToDoActivity"
            android:exported="false" />
        <activity
            android:name=".ToDoActivities.AddToDoActivity"
            android:exported="false" />
        <activity
            android:name=".LogActivities.LogActivity"
            android:exported="false" />
        <activity
            android:name=".LogActivities.AddLogActivity"
            android:exported="false" />
        <activity
            android:name=".NoteActivities.NoteActivity"
            android:exported="false" />
        <activity
            android:name=".LogActivities.LogsBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".NoteActivities.AddNoteActivity"
            android:exported="false" />
        <activity
            android:name=".NoteActivities.AdjustNoteActivity"
            android:exported="false" />
        <activity
            android:name=".HiveActivities.AdjustHiveActivity"
            android:exported="false" />
        <activity
            android:name=".StationActivities.AdjustStationActivity"
            android:exported="false" />
        <activity
            android:name=".HiveActivities.AddHiveActivity"
            android:exported="false" />
        <activity
            android:name=".NoteActivities.NotesBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".HiveActivities.HivesBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".StationActivities.AddStationActivity"
            android:exported="false" />
        <activity
            android:name=".StationActivities.StationsBrowserActivity"
            android:exported="false" />
    </application>

</manifest>