<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Brokskeeping"
        tools:targetApi="31">
        <activity
            android:name=".LogActivity"
            android:exported="false" />
        <activity
            android:name=".AddLogActivity"
            android:exported="false" />
        <activity
            android:name=".NoteActivity"
            android:exported="false" />
        <activity
            android:name=".LogsBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".AddNoteActivity"
            android:exported="false" />
        <activity
            android:name=".AdjustNoteActivity"
            android:exported="false" />
        <activity
            android:name=".AdjustHiveActivity"
            android:exported="false" />
        <activity
            android:name=".AdjustStationActivity"
            android:exported="false" />
        <activity
            android:name=".AddHiveActivity"
            android:exported="false" />
        <activity
            android:name=".NotesBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".HivesBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".AddStationActivity"
            android:exported="false" />
        <activity
            android:name=".StationsBrowserActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Brokskeeping">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>